apiVersion: v1
kind: Secret
metadata:
  name: datadog-creds
  namespace: upbound-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "<api-key>",
      "app_key": "<app-key>",
      "api_url": "https://api.datadoghq.com/"
    }
