apiVersion: v1
kind: Secret
metadata:
  name: datadog-creds
  namespace: upbounbd-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "admin",
      "app_key": "appkey",
      "api_url": "https://api.datadoghq.com/"
    }
